################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CppProperties.json
/.vs
*.vsidx
/Project1/.vs
/Project1/Project1
/Project1/x64
*.vcxproj
*.filters
*.user
